@import '../../../sass/globle.scss';

.P1s6bg {
    background-color: var(--theme-white-color);
}

.P1s6 {
    display: grid;
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    gap: 40px;


    @media (max-width:1024px) {
        padding: 0 40px;
    }

    @media (max-width:768px) {
        grid-template-columns: 100%;
        padding: 0 100px;
    }

    @media (max-width:576px) {
        grid-template-columns: 100%;
        padding: 0 40px;
    }

    .p1s6-part-heading {
        max-width: 367px;
        @include Smallheading;
        margin: 10px;
    }

    .P1s6-part {

        .p1s6-cart {
            cursor: pointer;
            @include displayFlex;
            flex-direction: column;

            .part-box {
                padding: 20px 0;
                @include displayFlex_AlignItem-center;
                gap: 20px;
                border-bottom: 1px solid #d0d0d0;

                img {
                    transition: .5s ease-in-out;

                    &:hover {
                        transform: scale(1.02);
                        transition: .5s ease-in-out;
                    }
                }

                .p1s6-text {
                    @include displayFlex;
                    flex-direction: column;
                    gap: 10px;

                    h6 {
                        height: 24px;
                        @include cartheading;
                        transition: .5s ease-in-out;

                        &:hover {
                            color: var(--theme-primary-color);
                            transition: .5s ease-in-out;
                        }
                    }

                    p {
                        max-width: 349px;
                        @include details;

                        @media (max-width:1024px) {
                            max-width: 251px;
                        }

                        @media (max-width:768px) {
                            max-width: 349px;
                        }

                        @media (max-width:576px) {
                            max-width: 251px;
                        }
                    }
                }

                &:nth-child(3) {
                    border: none;

                    @media (max-width:768px) {
                        border-bottom: 1px solid #d0d0d0;
                    }
                }

                &:nth-child(1) {

                    @media (max-width:768px) {
                        border-top: 1px solid #d0d0d0;
                    }
                }
            }
        }
    }
}