@import '../../../sass/globle.scss';

.P1s3bg {
    padding: 80px 0;
    background-color: var(--theme-primary-background-color);

    @media (max-width:1024px) {
        padding: 80px 60px;
    }
}

.P1s3 {
    @include displayFlex;
    justify-content: space-between;
    align-items: flex-start !important;

    @media (max-width:576px) {
        align-items: center !important;
    }


    @media (max-width:1024px) {
        flex-direction: column;
        gap: 30px;
        padding: 0 30px;
    }

    h4 {
        @include h4heading;
        max-width: 560px;

        @media (max-width:1024px) {
            max-width: 462px;
        }

    }

    p {
        @include details;
        max-width: 560px;

        @media (max-width:1024px) {
            max-width: 462px;
        }
    }
}