@import '../../../sass/globle.scss';

.p1s13 {
    .P1s3 {
        align-items: flex-start !important;

        @media (max-width:1024px) {
            align-items: center !important;
        }

        p {
            @include displayFlex_JustifyContent-SpaceBetween;
            gap: 20px;

            span {
                max-width: 560px;

                @media (max-width:1024px) {
                    text-align: center;
                }
            }

            h6 {
                margin-top: 20px;
                width: 247px;
                height: 24px;
                @include cartheading;
                font-weight: 500 !important;
                color: var(--theme-primary-color) !important;

                @media (max-width:1024px) {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    .P1s5bg {
        padding-left: 0;
        padding-right: 0;

        @media (max-width:576px) {
            padding: 40px 0;
        }
    }
}