@import '../../sass/globle.scss';

.P1s17 {
    cursor: pointer;
    background-color: var(--theme-footer-background-color);
    @include displayFlex;
    gap: 60px;
    padding: 60px 150px;
    flex-direction: column;

    @media (max-width:1024px) {
        padding: 60px 20px;
    }

    .p1S17Top {
        @include displayFlex_JustifyContent-SpaceBetween_AlignItem-center;

        .p1s17_Top_r {
            @include displayFlex;
            gap: 32px;
        }
    }

    .p1S17_middle {
        @include displayFlex_JustifyContent-SpaceBetween_AlignItem-center;

        @media (max-width:768px) {
            @include displayFlex;
            gap: 60px;
            align-items: flex-start;
            flex-direction: column;
        }

        .p1s17_Middle_l {
            @include displayFlex_AlignItem-center;
            gap: 20px;

            .p1s17_ML_img {
                img {
                    width: 68px;
                    height: 68px;
                    padding: 10px;
                    border-radius: 64px;
                    border: 1px solid rgba(255, 255, 255, 0.10);
                    transition: 0.5s ease-in-out;

                    &:hover {
                        padding: 0;
                        transition: 0.5s ease-in-out;
                    }
                }
            }

            .p1s17_ML_text {
                @include displayFlex;
                flex-direction: column;
                gap: 4px;

                h4 {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0.32px;
                    color: var(--theme-white-color);
                }

                h5 {
                    @include cartdetails;
                    color: var(--theme-white-color);
                }
            }
        }

        .p1s17_Middle_r {
            max-width: 558px;
            @include displayFlex;
            flex-direction: column;
            gap: 16px;

            p {
                width: 100%;
                @include Boxdetalis;
                font-weight: 400 !important;
                letter-spacing: 0.36px;
                color: var(--theme-white-color);
            }

            h6 {
                width: 100%;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0.28px;
                color: var(--theme-5E6263-text-color);
            }

            .footerEmail {
                position: relative;

                @media (max-width:576px) {
                    max-width: 500px;
                }

                input {
                    @include cartdetails;
                    width: 100%;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 4px;
                    background-color: var(--theme-383838-text-color);
                    color: rgba(255, 255, 255, 0.50);
                }

                .rightarrow {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(-50%, -50%);
                    border-left: 1px solid rgba(255, 255, 255, 0.50);
                    padding-left: 24px;

                    img {
                        width: 16px;
                    }
                }
            }
        }
    }

    .p1s17_border {
        border: 1px solid var(--theme-383838-text-color);
    }

    .p1s17_bottam_none {

        @media (max-width:768px) {
            display: none;
        }

        .p1s17_bottam {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 20px;

            .p1s17_footerData {
                padding-right: 20px;
                @include displayFlex;
                flex-direction: column;
                gap: 24px;

                h2 {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 21px;
                    letter-spacing: 0.28px;
                    color: var(--theme-white-color);
                }

                .footerData_B {
                    @include displayFlex;
                    flex-direction: column;
                    gap: 16px;

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                        letter-spacing: 0.28px;
                        color: var(--theme-757575-text-color);
                        transition: 0.5s ease-in-out;

                        &:hover {
                            font-weight: 600;
                            transform: scale(1.08);
                            color: var(--theme-primary-color);
                            transition: 0.5s ease-in-out;
                        }
                    }
                }
            }

        }
    }

    .Footer_none {
        display: none;

        @media (max-width:768px) {
            display: block;
        }

        .Footer_menuBar {
            width: 100%;
            @include displayFlex_JustifyContent-SpaceBetween_AlignItem-center;

            h4 {
                color: var(--theme-white-color);
                font-size: 16px;
                font-weight: 600;
                line-height: 150%;
                letter-spacing: 0.32px;
            }
        }
    }
}