@import '../../../sass/globle.scss';

.P1s11bg {
    padding: 120px 150px 120px 150px;
    background-color: var(--Theme-primary-dark-background);

    @media (max-width:768px) {
        padding: 120px 40px;
    }

    .P1s7 {
        margin: 0;
        padding: 0;
        border: none;

        h4 {
            width: fit-content;
            color: var(--theme-white-color);
        }
    }

    .P1s10-box {
        padding: 100px 0 50px 0;
        height: 310px;

        h4 {
            @include Boxdetalis;
            color: var(--theme-white-color);
        }

        p {
            @include cartdetails;
            color: var(--theme-f3f4f5-text-color);
        }
    }

    .p1s11details {
        padding-top: 50px;

        p {
            width: 635px;
            height: 27px;
            @include cartdetails;
            color: var(--theme-f3f4f5-text-color);

            @media (max-width:576px) {
                width: 350px;
                height: 54px;
            }
        }
    }
}